<div class="container">
  <div id="logo">
    <%= image_tag "POPOS_.jpg" %>
  </div>
  <button id="location" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Button
  </button>
</div>
