<div class="mui-container mui--text-center">
  <div id="logo">
    <%= image_tag "POPOS_.jpg" %>
  </div>
  <button class="mui-btn mui-btn--primary">Find the POPOs</button>
</div>

<div>
  <div id="loading" class="mui--text-center">
    Loading...
  </div>
  <div id="map"></div>
</div>

<script id="info-window-template" type="text/x-handlebars-template">
  <div id="info-window">
    <div class="title">
      <h1>{{name}}
      </h1>
      <p>{{address}}</p>
    </div>

    <div class="popo-info">
      {{#if image}}
      <img src="http://sf-planning.org/ftp/files/GIS/POPOS/Pics/Small/{{image}}" alt="">
      {{/if}}
      <p>{{location_type}}, <i>{{location}}</i></p>
      {{#if seating}}
      <p><b>Seating: </b>Yes. {{seating_description}}</p>
      {{/if}}
      {{#if hours}}
      <p><b>Hours:</b> {{hours}}</p>
      {{else}}
      <p><b>Hours:</b> {{hours_type}}</p>
      {{/if}}
      {{#if accessibility}}
      <p><b>Accessibility:</b> {{accessibility}}</p>
      {{/if}}
      <p><b>Description:</b><br>{{description}}</p>
    </div>
  </div>
</script>