.container {
  width: 85%;
  margin: 1rem auto;
}

.centered {
  margin: 1rem auto;
  display: block;
}

#logo {
  margin-top: 10%;
  margin-left: 35%;
}

#get-location {
  margin-top: 10%;
  margin-left: 44%;
}

#map {
    height: 100%;
}

#info-window {
    min-height:50px;
    width:200px;
}

#info-window h1 {
  font-size: 3em;
}

#info-window img {
  width: 100%;
}