<!DOCTYPE html>
<html>
<head>
  <title>Popos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHhvFsZXG-xvmzC9vELiTt8FiCf31dHP8"
    async defer></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js"></script>
</body>
</html>
